@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  background-image: url('https://cdn.discordapp.com/attachments/705222312789671966/709259469325860915/image0.png');
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  color: White;
  font-size: 96px;
  margin-top: 300px;
  text-decoration: underline;
}
