@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  background-image: url('https://cdn.discordapp.com/attachments/705222312789671966/709259469325860915/image0.png');
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  color: White;
  font-size: 96px;
  margin-top: 300px;
}
hr {
 color: white; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
